*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./city.jpg);
    background-size: cover;
    overflow: hidden;
}
.basket {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-image: url(./hat.png);
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 900;
}
.coin {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(./coin.png);
    background-size: contain;
    border-radius: 50%;
}
.menu{
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgb(254, 254, 253);
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
}
.start-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
}
.restart-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
}
.data{
    background-color: #ffffff;
    width: fit-content;
    padding: .5em;
}
.hide{
    display: none;
}
.guitar-player{
    position: absolute;
    background-image: url(./guitarist.png);
    background-size: cover;
    width: 200px;
    height: 400px;
    bottom: 1%;
    left: 5%;
    cursor: pointer;
    z-index: 990;
}
.homeless-guy{
    position: absolute;
    background-image: url(./homeless.png);
    background-size: cover;
    width: 320px;
    height: 400px;
    bottom: 0%;
    left: 30%;
    cursor: pointer;
    z-index: 990;
}
.assassin{
    position: absolute;
    background-image: url(./assassin.png);
    background-size: contain;
    width: 250px;
    height: 400px;
    bottom: 1%;
    left: 60%;
    cursor: pointer;
    z-index: 990;
}
.teenager{
    position: absolute;
    background-image: url(./teenager.png);
    background-size: contain;
    width: 200px;
    height: 500px;
    bottom: 0%;
    left: 85%;
    cursor: pointer;
    z-index: 990;
}