*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./illustration-anime-city.jpg);
    background-size: cover;
    overflow: hidden;
}
.basket {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-image: url(./—Pngtree—black\ hat\ clipart\ hat\ clipart_5786658.png);
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.coin {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(./—Pngtree—glossy\ golden\ coin\ icon_5986301.png);
    background-size: contain;
    border-radius: 50%;
}
.menu{
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgb(247, 109, 23);
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.start-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
}
.restart-button{
    position: absolute;
    z-index: 999;
    cursor: pointer;
}