*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./city.jpg);
    background-size: cover;
    overflow: hidden;
}
.basket {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-image: url(./hat.png);
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 900;
}
.coin {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(./coin.png);
    background-size: contain;
    border-radius: 50%;
}
.menu{
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgb(254, 254, 253);
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    text-align: center;
    padding: 1em;
}
.start-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
}
.restart-button{
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
}
.pause-button{
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
}
.resume-button{
    width: 50px;
    height: 50px;
    background: rgb(4, 2, 1);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
}
.data{
    background-color: #ffffff;
    width: fit-content;
    padding: .5em;
    z-index: 998;
    position: relative;
}
.hide{
    display: none;
}
.pos1 {
    position: absolute;
    bottom: 1%;
    left: 5%;
}
.pos2 {
    position: absolute;
    bottom: 1%;
    left: 30%;
}
.pos3 {
    position: absolute;
    bottom: 1%;
    left: 60%;
}
.pos4 {
    position: absolute;
    bottom: 0%;
    left: 80%;
}
.guitar-player{
    background-image: url(./guitarist.png);
    background-size: cover;
    width: 200px;
    height: 400px;
    cursor: pointer;
    z-index: 990;
}
.homeless-guy{
    background-image: url(./homeless.png);
    background-size: cover;
    width: 300px;
    height: 320px;
    cursor: pointer;
    z-index: 990;
}
.assassin{
    background-image: url(./assassin.png);
    background-size: contain;
    width: 250px;
    height: 400px;
    cursor: pointer;
    z-index: 990;
}
.teenager{
    background-image: url(./teenager.png);
    background-size: contain;
    width: 200px;
    height: 500px;
    cursor: pointer;
    z-index: 990;
}
.donate-menu{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    background: rgb(254, 254, 253);
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    display: none;
}
.game-over-menu{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    background: rgb(254, 254, 253);
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    display: none;
}
.backdrop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.628);
    z-index: 999;
}